# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/results/
cypress/report/
.nyc_output/
coverage/
cypress.env.json

# Environment
.env
.env.*

# OS & Editors
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log